<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首页</title>
  <link rel="stylesheet" href="../css/element.css">
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/index.css">
  <style>
	.nav{width: 100%;position: relative;background-color: #4a4d37;}
	.nav-banner{
		width: 842px;
		height: 340px;
		margin: 0 auto;
		overflow: hidden;
	}
	.nav-img{
		width: 600%;
		height: 150px;
	}
	.nav-img li{
		float: left;
	}
	.btn-bg{
		background-color: white;
	}
	.nav-btn{
	  	height: 10px;
		/* width: 50px; */
		position: relative;
		margin-left: 45%;
		margin-top: -11px;
	}
	.nav-btn li{
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background-color: #000000;
		border: #000000 1px solid;
		margin-left: 5px;
		position: relative;
		top: -30px;
		float: left;
	}
  </style>
  <script src="../js/jquery-3.2.1.js"></script>
  <script>
  $(function(){
	var left=842;
	var speed=2000;
	var index=0;
	var $picsUL=$(".nav-banner .nav-img");
	$picsUL.find("li:first").clone().appendTo($picsUL);
	var $picLi=$picsUL.find(".nav-img li");
	var maxLen=$picLi.length;
	var $barLi=$(".nav-banner .nav-btn li");
	var delay=4000;
	var timer=null;
	var timerFlag = null
  	$barLi.click(function(){
			console.log(timerFlag)
			if(timerFlag){
				clearTimeout(timerFlag)
			}
			timerFlag = setTimeout(() => {
				index=$(this).index();
				change_next();
				change_bar();
			},1000)
  	})
  	function change_next(){
  		$picsUL.animate({"margin-left":-left*index},speed);
  	}
  	function change_bar(){
		if(index>=maxLen+3){
			$barLi.eq(0).css("background","white").siblings().css("background","#000000");
		}
  		$barLi.eq(index).css("background","white").siblings().css("background","#000000");
  	}
  	function change_last(){
  		$picsUL.animate({"margin-left":-(maxLen)*left},1,function(){
  			$(this).css("margin-left",0);
  		});
  	}
  	function auto_change(){
  		if(index<maxLen+5){
  			index++;
  			change_next();
  		}else{
  			change_last();
  			index=0;
  		}
  		change_bar();
  	}
  	timer=setInterval(auto_change,delay);
  	$(".nav-banner").on({
  		mouseenter:function(){
  			clearInterval(timer);
  		},
  		mouseleave:function(){
  			timer=setInterval(auto_change,delay);
  		}
  	
  	})
  })
  </script>
</head>

<body>
	
  <header class="poetry_header">
    <nav>
      <div class="logo">
        古诗词网
      </div>
      <ul class="navList">
        <li class="active"><a href="./index.html">推荐</a></li>
        <li><a href="./shiwens.html">诗文</a></li>
        <li><a href="./zuozhe.html">作者</a></li>
        <li><a href="./priactise.html">游戏</a></li>
        <li><a href="./login.html">我的</a></li>
				<li class="active"><a href="./users.html">用户</a></li>
      </ul>
    </nav>
  </header>
  <div class="nav">
  	<div class="nav-banner">
  		<ul class="nav-img">
  			<li><img src="../images/1.jpg" alt=""></li>
  			<li><img src="../images/2.jpg" alt=""></li>
  			<li><img src="../images/3.jpg" alt=""></li>
			<li><img src="../images/4.jpg" alt=""></li>
			<li><img src="../images/5.jpg" alt=""></li>
  		</ul>
  		<ul class="nav-btn">
  			<li></li>
  			<li></li>
  			<li></li>
			<li></li>
			<li></li>
  		</ul>
  	</div>
  </div>
  <div id="app">
    <main>
      <!-- 文章主内容 -->
      <article>
        <!-- 卡片视图内容 -->
        <el-card v-for="item in poemList" :key="item.id" class="content_wrap">
          <h2 v-cloak>{{item.title}}</h2>
          <p class="content_wrap_info" v-cloak>
            {{item.poet}}
            <span v-cloak>( {{item.dynasty}})</span>
          </p>
          <p class="content_wrap_message" v-html="item.content"></p>
        </el-card>
        <el-card>
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="page"
            :page-sizes="[10, 15,20, 30]" :pager-count="5" :page-size="num"
            layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </el-card>
      </article>

      <!-- 文章侧边栏 -->
      <aside>
        <el-card>
          <h2 class="aside_title">类型</h2>
          <div class="aside_content" @click="e => type = e.target.innerText">
            <el-button v-for="(item,index) in typeList" :key="index" type="mini" v-cloak>{{item.type}}</el-button>
          </div>
        </el-card>

        <el-card>
          <h2 class="aside_title">作者</h2>
          <div class="aside_content" @click="e => poet = e.target.innerText">
            <el-button v-for="(item,index) in poetList" :key="index" type="mini" v-cloak>{{item.poet}}</el-button>
          </div>
        </el-card>

        <el-card>
          <h2 class="aside_title">朝代</h2>
          <div class="aside_content" @click="e => dynasty = e.target.innerText">
            <el-button v-for="(item,index) in dynastyList" :key="index" type="mini" v-cloak>{{item.dynasty}}</el-button>
          </div>
        </el-card>
      </aside>
    </main>
  </div>


  <script src="../js/axios.js"></script>
  <script src="../js/vue.js"></script>
  <script src="../js/element.js"></script>
  <script src="../js/index.js"></script>
</body>

</html>