<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>诗文</title>
  <link rel="stylesheet" href="../css/element.css">
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/shiwens.css">
</head>

<body>

  <header class="poetry_header">
    <nav>
      <div class="logo">
        古诗词网
      </div>
      <ul class="navList">
        <li><a href="./index.html">推荐</a></li>
        <li class="active"><a href="./shiwens.html">诗文</a></li>
        <li><a href="./zuozhe.html">作者</a></li>
        <li><a href="./priactise.html">游戏</a></li>
        <li><a href="./login.html">我的</a></li>
				<li class="active"><a href="./users.html">用户</a></li>
      </ul>
    </nav>
  </header>

  <div id="app">
    <main>
      <!-- 文章主内容 -->
      <article>
        <!-- 搜索区域 -->
        <el-card class="card_title">
          <div slot="header" class="card_title_header">
            <h2>推荐诗文</h2>
            <el-button type="primary" @click="addDialogVisible=true" v-if="staus">添加古诗</el-button>
          </div>
          <!-- 折叠面板 -->
          <div class="title_wrap">
            <div class="sleft">
              <span v-cloak>类型：</span>
            </div>
            <div class="scontent" @click.prevent="e => type = e.target.text">
              <a href="" v-for="(item,index) in typeList" :key="index" v-cloak>{{item.type}}</a>
            </div>
            <div class="sright">
              <i class="el-icon-bottom" @click="isShow" v-if="typeList.length > 10"></i>
            </div>
          </div>
          <!-- 折叠面板 -->
          <div class="title_wrap">
            <div class="sleft">
              <span v-cloak>作者：</span>
            </div>
            <div class="scontent" @click.prevent="e => poet = e.target.text">
              <a href="" v-for="(item,index) in poetList" :key="index" v-cloak>{{item.poet}}</a>
            </div>
            <div class="sright">
              <i class="el-icon-bottom" @click="isShow" v-if="poetList.length > 10"></i>
            </div>
          </div>
          <!-- 折叠面板 -->
          <div class="title_wrap">
            <div class="sleft">
              <span v-cloak>朝代：</span>
            </div>
            <div class="scontent" @click.prevent="e => dynasty = e.target.text">
              <a href="" v-for="(item,index) in dynastyList" :key="index" v-cloak>{{item.dynasty}}</a>
            </div>
            <div class="sright">
              <i class="el-icon-bottom" @click="isShow" v-if="dynastyList.length > 10"></i>
            </div>
          </div>
        </el-card>

        <!-- 卡片视图内容 -->
        <el-card v-for="item in poemList" :key="item.id" class="content_wrap">
          <button class="removeBtn" v-if="staus"></button>
          <span @click="remove(item.id)" class="removeText" v-if="staus">x</span>
          <div class="title_row">
            <h2 v-cloak>{{item.title}}</h2>
            <el-button type="info" size="mini" @click="showEditDialog(item)" v-if="staus">编辑</el-button>
          </div>
          <p class="content_wrap_info" v-cloak>
            {{item.poet}}
            <span v-cloak>( {{item.dynasty}})</span>
          </p>
          <p class="content_wrap_message" v-html="item.content"></p>
        </el-card>
        <el-card>
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="page"
            :page-sizes="[10, 15,20, 30]" :pager-count="5" :page-size="num"
            layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </el-card>
      </article>

      <!-- 文章侧边栏 -->
      <aside>
        <el-card>
          <h2 class="aside_title">类型</h2>
          <div class="aside_content" @click="e => type = e.target.innerText">
            <el-button v-for="(item,index) in typeList" :key="index" type="mini" v-cloak>{{item.type}}</el-button>
          </div>
        </el-card>

        <el-card>
          <h2 class="aside_title">作者</h2>
          <div class="aside_content" @click="e => poet = e.target.innerText">
            <el-button v-for="(item,index) in poetList" :key="index" type="mini" v-cloak>{{item.poet}}</el-button>
          </div>
        </el-card>

        <el-card>
          <h2 class="aside_title">朝代</h2>
          <div class="aside_content" @click="e => dynasty = e.target.innerText">
            <el-button v-for="(item,index) in dynastyList" :key="index" type="mini" v-cloak>{{item.dynasty}}</el-button>
          </div>
        </el-card>
      </aside>
    </main>
    <!-- 添加古诗对话框 -->
    <el-dialog title="添加古诗" :visible.sync="addDialogVisible" width="50%" @closed="addDialogClose">
      <el-form :model="addForm" :rules="addFormRules" ref="addFormRef" label-width="100px">
        <el-form-item label="古诗名" prop="title">
          <el-input v-model="addForm.title"></el-input>
        </el-form-item>
        <el-form-item label="作者" prop="poet">
          <el-select v-model="addForm.poet" placeholder="请选择">
            <el-option v-for="(item,index) in poetList" :key="item.index" :label="item.poet" :value="item.poet">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="朝代" prop="dynasty">
          <el-input v-model="addForm.dynasty"></el-input>
        </el-form-item>
        <el-form-item label="类型">
          <el-select v-model="addForm.type" placeholder="请选择">
            <el-option v-for="(item,index) in typeList" :key="item.index" :label="item.type" :value="item.type">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="内容" prop="content">
          <el-input type="textarea" :rows="5" placeholder="请输入内容" v-model="addForm.content">
          </el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="add">确 定</el-button>
      </span>
    </el-dialog>

    <!-- 编辑古诗对话框 -->
    <el-dialog title="添加古诗" :visible.sync="editDialogVisible" width="50%" @closed="editDialogClose">
      <el-form :model="editForm" :rules="editFormRules" ref="editFormRef" label-width="100px">
        <el-form-item label="古诗名" prop="title">
          <el-input v-model="editForm.title"></el-input>
        </el-form-item>
        <el-form-item label="作者" prop="poet">
          <el-select v-model="editForm.poet" placeholder="请选择">
            <el-option v-for="(item,index) in poetList" :key="item.index" :label="item.poet" :value="item.poet">
            </el-option>
        </el-form-item>
        <el-form-item label="朝代" prop="dynasty">
          <el-input v-model="editForm.dynasty"></el-input>
        </el-form-item>
        <el-form-item label="类型">
          <el-select v-model="editForm.type" placeholder="请选择">
            <el-option v-for="(item,index) in typeList" :key="item.index" :label="item.type" :value="item.type">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="内容" prop="content">
          <el-input type="textarea" :rows="5" placeholder="请输入内容" v-model="editForm.content">
          </el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="edit">确 定</el-button>
      </span>
    </el-dialog>
  </div>



  <script src="../js/axios.js"></script>
  <script src="../js/vue.js"></script>
  <script src="../js/element.js"></script>
  <script src="../js/shiwens.js"></script>
</body>

</html>